 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images_catering/Anchor.jpg");
  background-position: 50% 11.23%;
}

.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 56px auto 0;
}

.u-section-1 .u-image-1 {
  height: 398px;
  width: 472px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -9px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 839px;
  margin: -48px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  font-family: Poppins;
  border-style: solid;
  --radius: 29px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 73px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-text-1 {
    font-family: Poppins;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 6rem;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 250px;
  }

  .u-section-1 .u-image-1 {
    height: 70px;
    width: 259px;
    margin-top: -234px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 261px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -176px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 130px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1.06) !important;
  font-weight: 700 !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1.06) !important;
  font-weight: 700 !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-shape-1 {
  width: 783px;
  height: 733px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 59px -29px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 858px;
  height: 735px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -637px -82px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 637px;
  height: 637px;
  background-image: url("images_catering/CateringLogo1.jpg");
  background-position: 50% 50%;
  filter: brightness(0.65);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -755px 26px 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  margin: -580px 663px 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 61px 719px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --radius: 39px;
  background-image: none;
  margin: 47px auto 60px 83px;
  padding: 20px 51px 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 463px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 243px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -427px;
    margin-right: 63px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1.11) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1.11) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
  min-height: 970px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px calc(((100% - 1140px) / 2) + -63px) 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.73;
  width: 697px;
  margin: 66px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-top: 74px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-6 {
  width: 375px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-7 {
  width: 375px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-8 {
  width: 375px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  margin-right: 7px;
}

.u-section-3 .u-back-image-9 {
  width: 375px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --radius: 35px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 66px auto 60px;
  padding: 18px 49px 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1.11) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1.11) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
  min-height: 1181px;
}

.u-section-4 .u-shape-1 {
  height: 697px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-shape-2 {
  width: 827px;
  height: 226px;
  --radius: 30px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -697px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 733px;
  margin: -197px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  width: 771px;
  margin: 78px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 750px;
  width: 1140px;
  grid-gap: 10px 10px;
  margin: 39px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 80.31%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 50% 76.86%;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-back-image-6 {
  object-position: 50% 100%;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-4 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 100px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-2 {
    --radius: 50px;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-gallery-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-thumbnail-9 {
    width: 82px;
    height: 82px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-2 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-thumbnail-9 {
    width: 58px;
    height: 58px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-2 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-thumbnail-9 {
    width: 38px;
    height: 38px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-2 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-thumbnail-9 {
    width: 16px;
    height: 16px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 21px;
  }
}

.u-section-4 .u-shape-2,
.u-section-4 .u-shape-2:before,
.u-section-4 .u-shape-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-shape-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-shape-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
  min-height: 1016px;
}

.u-section-5 .u-image-1 {
  height: 790px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.55);
  object-position: 50% 39.77%;
}

.u-section-5 .u-group-1 {
  min-height: 679px;
  width: 591px;
  height: auto;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -453px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px 30px 18px;
}

.u-section-5 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  margin: 12px 29px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: -1px;
  font-family: Poppins;
  text-transform: uppercase;
  line-height: 2.61;
  margin: 47px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  transition-duration: 0.5s;
  --radius: 50px;
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 57px auto 0 12px;
  padding: 20px 71px 21px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 825px;
  }

  .u-section-5 .u-image-1 {
    height: 649px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-group-1 {
    min-height: 552px;
    width: 510px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-5 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    object-position: 14.48% 50%;
  }

  .u-section-5 .u-group-1 {
    width: 485px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1062px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 985px;
  }

  .u-section-5 .u-group-1 {
    min-height: 475px;
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(-5px) !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(-5px) !important;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
  min-height: 979px;
}

.u-section-6 .u-image-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -508px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-6 .u-list-item-1 {
  transition-duration: 0.5s;
  --radius: 50px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-2 {
  transition-duration: 0.5s;
  --radius: 50px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-4 {
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-3 {
  transition-duration: 0.5s;
  --radius: 50px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-6 {
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-4 {
  transition-duration: 0.5s;
  --radius: 50px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-8 {
  font-family: Poppins;
  margin: 20px 1px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 39px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 598px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-6 .u-form-1 {
  height: 336px;
  width: 510px;
  margin: 47px 0 0;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
  font-family: Poppins;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
  font-family: Poppins;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
  font-family: Poppins;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 598px;
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-map-1 {
  width: 285px;
  height: 299px;
  margin: 150px auto 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 873px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15.75px));
    min-height: 207px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1220px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 508px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 607px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1700px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1299px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-9 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 327px;
  }
}

.u-section-6 .u-list-item-1,
.u-section-6 .u-list-item-1:before,
.u-section-6 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-list-item-2,
.u-section-6 .u-list-item-2:before,
.u-section-6 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-2 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-list-item-3,
.u-section-6 .u-list-item-3:before,
.u-section-6 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-3 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-list-item-4,
.u-section-6 .u-list-item-4:before,
.u-section-6 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-4 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}


.bannerhomepages {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.bannerhomepages img {
  width: 100%;
  height: 500px;
}


button {
  padding: 1em 2.1em 1.1em;
  border-radius: 4px;
  margin: 8px;
  border: none;
  background-color: #e2e273;
  color: #000000;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0em -0.2rem 0em #e2e273 inset;
  transition: color 3s ease-in-out;
}

button:hover {
  background-color: transparent;
  color: #8b4513;
  border: 3px solid #e2e273;
  cursor: pointer;
}

/* Media queries */


@media (min-width: 1px){

  .openimg{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .openingbanner{
      height: 100%;
      width: 100%;
  }